body{
	background-color:#fff; 
	width:100%;
	margin:0;
}	

.top{
	height:auto;
	margin:0;
}



.topt2{
	margin:auto;
	width:80%;
	padding-top:15px;
	background-color:#fff;
} 

.topt2 h1{
	text-align:center;
	font-family: Libre Franklin,sans-serif, helvetica;
	font-size: 28px;
	margin:0;
	color:#000;
	margin-bottom:15px;
}


.topt2 h2{
	text-align:center;
	font-family: Libre Franklin,sans-serif, helvetica;
	font-size: 22px;
	margin:0;
	color:#000;
	margin-bottom:20px;
}


.container{
	height:auto;
	margin:0;
}


.vidprod{
	margin:0;
	height:auto;
	background-color:#363636;

}


.vidprod iframe{
	width:560px;
	height:315px;
	padding-bottom:30px;
	padding-top:30px;
}


.artigo{
	margin:auto;
	width:92%;
	height:auto;
	padding-bottom:80px;
}	

.artigo h2{
	text-align:center;
	font-family:tahoma,Helvetica,Arial;
	font-size: 19px;
	margin:0;
	color:#363636;
	margin-top:30px;
	margin-bottom:20px;
}



.artigo h3{
	text-align:center;
	font-family:tahoma,Helvetica,Arial;
	font-size: 24px;
	margin:0;
	color:#363636;
	margin-top:30px;
	margin-bottom:20px;
}


.artigo p{
	text-align:center;
	font-family:tahoma,Helvetica,Arial;
	font-size: 19px;
	margin:0;
	color:#363636;

}


.footerpe {
	width:80%;
	margin-top:50px;
	height:auto;
	padding:30px;
	background-color:#363636;
	color:#FFF;
	text-align:center;
	font-family: Libre Franklin,sans-serif, helvetica;
	font-size: 18px;
	
}


